/*###################################
  ######
    
    Hoja de estilos - Diseñado por Víctor Saborío H.
    Introducción al desarrollo de aplicaciones Web.

  ####################################################      
*/		

* {
    margin: 0;
    padding: 0;
}
html,body {
    height:100%;
    background-image:url(http://3.bp.blogspot.com/-tqKhuvVHqa0/TnvazcpgaoI/AAAAAAAAljQ/yDOVnbMscak/s400/Texturas-Textures-10.png);
}

/*
 ################################
 #
 #  Menu de la página
 ################################
*/

.fix{
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

/*
 ################################
 #
 #  Tablas de proyectos
 ################################
*/

/*table, th, td {
    border: 1px solid black;
}*/

.demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.demo th {
    text-align: center;
    font-family:Arial, sans-serif;
    border:1px solid #C0C0C0;
    padding:5px;
    background:#26ADE4;
}
.demo td {
    text-align: center;
    font-family:Arial, sans-serif;
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
/*
table  {
    border-collapse:collapse;
    border-spacing:10;
    border-color:#000000;
}
td{
    text-align: center;
    font-family:"Comic Sans MS", cursive, sans-serif !important;
    font-size:17px;
    padding:1px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#000000;
    color:#444;
    background-color:#F7FDFA;
}
th{
    text-align: center;
    font-family:"Comic Sans MS", cursive, sans-serif !important;
    font-size:17px;
    font-weight:normal;
    padding:1px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#000000;
    color:#fff;
    background-color:#26ADE4;
}*/
