/*###################################
  ######
    
    Hoja de estilos - Diseñado por Víctor Saborío H.
    Introducción al desarrollo de aplicaciones Web.

  ####################################################      
*/		

/*
 ################################
 #
 #  Menu de la página
 ################################
*/

.fix{
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
}

/*
 ################################
 #
 #  Tablas de proyectos
 ################################
*/

/*table, th, td {
    border: 1px solid black;
}*/

#select {
    margin-left: 91px;
    margin-top: 45px;
}

#select-2 {
    margin-left: 91px;
    margin-top: 45px;
}

.demo {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 5px;
    margin-left: -9px;
    margin-top: 20px;
}
.demo th {
    text-align: center;
    font-family:Arial, sans-serif;
    border:1px solid #C0C0C0;
    padding:5px;
    background:#26ADE4;
}
.demo td {
    text-align: center;
    font-family:Arial, sans-serif;
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}

#fuente-1 {
    margin-left: 70px;
    margin-top: 33px;
    font-size: 55px;
    font-family: initial;
    color: antiquewhite;
}

#fuente-2 {
    font-size: 45px;
    font-family: initial;
    color: gold;
    margin-top: 40px;
}

.select_style {
    background: #FFF;
    overflow: hidden;
    width: 30%;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;
    font-family: "helvetica neue",arial;
    position: relative;
    cursor: pointer;
    padding-right:20px;

}
.select_style span {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    background: url(http://projects.authenticstyle.co.uk/niceselect/arrow.png) no-repeat;
    top: 50%;
    margin-top: -4px;
}
.select_style select {
    -webkit-appearance: none;
    appearance:none;
    width:120%;
    background:none;
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
    padding:7px 10px;
}

/* Estilo encabezado*/
.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-family:"Arial", cursive, sans-serif !important;
  font-weight: bold;
  color: white;
}

hr.style-eight { 
    padding: 0; 
    border: none; 
    border-top: medium double #333; 
    color: #333; text-align: center; 
} 
hr.style-eight:after { 
    content: "§"; 
    display: inline-block; 
    position: relative; 
    top: -0.7em; 
    font-size: 1.5em; 
    padding: 0 0.25em; 
    background: white; 
}

/*Estilo paginación*/
.pagination {
    text-align: center;
    margin: 20px
}
.pagination a, .pagination strong {
    background: #83f2d6;;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 1.5em;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
    background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}
